.header{
    display: flex;
    justify-content: space-around;
   align-items: center;
    font-size: 24px;
    background-color: rgb(250, 240, 240);

}

.header-link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.header-container{
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
}